/* Parent table box */
.list-container {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
}

/* Categories box */
.status-menu-container {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

/* Categories box bottom highlight */
.status-menu-container .status-menu .status-button:after {
    background-color: #ffffff;
}

/* CATEGORY BUTTONS */
a.status-button.all_anime,
a.status-button.all_manga{
	color: orange !important;
}
a.status-button.watching,
a.status-button.reading{
	color: orange !important;
}
a.status-button.completed{
	color: orange !important;
}
a.status-button.onhold {
	color: red !Important;
}
a.status-button.dropped{
	color: red !important;
}
a.status-button.plantowatch,
a.status-button.plantoread{
	color: red !important;
}

/* Anime info and table box */
.list-table .list-table-data .data {
  border-bottom: orange 0.3px solid;
  color: red;
  font-size: 15px;
  font-weight: bold;
  }

/* Anime title */
.list-table .list-table-data .data.title .link{
	color: orange !important;
	line-height: 45px;
	font-size: 20px;
}

/* ANIME TITLE COLORS ON ROW HOVER */
.list-table .list-table-data:hover .data.title .link{
	color: red !important;
}

/* Episode Stats */
.list-table .list-table-data .data a {
  color: red !important;
  font-size: 15px;
}

/* Left side status bar color */
.list-table .list-table-data .data.status.reading, .list-table .list-table-data .data.status.watching {
  background-color: rgba(255, 255, 255, 0.8);
}
.list-table .list-table-data .data.status.completed {
  background-color: rgba(255, 255, 255, 1);
}

/* SEARCH BUTTON*/
.status-menu-container .search-container #search-button{
	color: red !important;
}

/* Left side floating box color */
.list-menu-float .icon-menu {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Top right View your anime list */
.header .header-menu .btn-menu {
  color: red;
  font-size: 15px;
}

/* Footer MAL info */
#footer-block {
  background-color: rgba(0, 0, 0, 0);
}
#footer-block *, #footer-block a{
	color: yellow !important;
}

/* Hiding stuffs */
.list-table .list-table-data .data.title .add-edit-more {
  display: none;
}

.list-unit .list-status-title {
  display: none;
}

.list-table .list-table-data .data.title .content-status {
  display: none;
}

.list-table .list-table-header .header-title {
  display: none;
}
